sf.json
{
  "Comment": "yamamugi handson",
  "StartAt": "sf_init",
  "States": {
    "sf_init": {
      "Type": "Task",
      "Next": "parallel_state",
      "OutputPath":"$",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:sf_init"
    },
    "parallel_state": {
          "Type": "Parallel",
          "Next": "Final State",
          "Branches": [
            {
              "StartAt": "to_slack_first",
              "States": {
                "to_slack_first": {
                  "Type": "Task",
                  "InputPath":"$.to_slack_first",
                  "OutputPath":"$",
                  "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:to_slack_first",
                  "End": true
                }
              }
            },
            {
              "StartAt": "to_kintone",
              "States": {
                "to_kintone": {
                  "Type": "Task",
                  "InputPath":"$.to_kintone",
                  "OutputPath":"$",
                  "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:to_kintone",
                  "Next": "to_slack_second"
                },
                "to_slack_second": {
                  "Type": "Task",
                  "InputPath":"$",
                  "OutputPath":"$",
                  "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:to_slack_second",
                  "End": true
                }
              }
            }
          ]
        },
	 "Final State": {
      "Type": "Pass",
      "End": true
    }
  }
}